@font-face
{
    font-family: "Laila";
    src: url(../fonts/Laila/Laila-Regular.ttf);
}
@font-face
{
    font-family: "Laila medium";
    src: url(../fonts/Laila/Laila-Medium.ttf);
}
@font-face
{
    font-family: "Lila light";
    src: url(../fonts/Laila/Laila-Light.ttf);
}
@font-face
{
    font-family: "Laila semi-negrito";
    src: url(../fonts/Laila/Laila-SemiBold.ttf);
}
@font-face
{
    font-family: "Laila negrito";
    src: url(../fonts/Laila/Laila-Bold.ttf);
}
@font-face
{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}
html
{
    height: 2000px;
    background-color: rgb(13,23,65);
    font-family: Laila;
}
#fundo
{
    position: relative;
    top: 0; right: 0; left: 0;
    border-style: none;
    border-radius: 7px;
    width: 70%;
    height: 1800px;
    margin: 175px 15% 50px;
    background-color: rgb(255,255,255);
}
.retangulo1
{
    width: 100%;
    height: 34px;
    background: rgb(51,83,255);
    position: absolute;
    top: 0;
    right: 0;
}
.retangulo2
{
    width: 100%;
    height: 10px;
    background: rgb(255,203,5);
    position: absolute;
    top: 34px;
    right: 0;
}
.retangulo3
{
    width: 100%;
    height: 105px;
    background: rgb(225,225,225);
    position: absolute;
    top: 44px;
    right: 0;
}
.resize
{
    position: absolute;
    left: 4px;
    top: 44px;
    width: auto;
    height: 100px;
}
.sp0
{
    z-index: 0;
}
.sp1
{
    z-index: 1;
}
.linkedin
{
    position: absolute;
    width: 24px;
    height: 23px;
    top: 5px;
    right: 125px;
}
.email
{
    position: absolute;
    width: 26px;
    height: 25px;
    top: 4px;
    right: 94px;
}
.whatsapp
{
    position: absolute;
    width: 23.5px;
    height: 23.5px;
    top: 4.5px;
    right: 66px;
}
.facebook
{
    position: absolute;
    width: 27px;
    height: 27px;
    top: 3.3px;
    right: 34px;
}
.instagram
{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 4.7px;
    right: 5px;
}
#contato
{
    position: absolute;
    top: 3px;
    right: 150px;
    padding: 0 15px;
    border-left-style: solid;
    border-width: 1px;
    border-left-color: black;
}
a
{
    text-decoration: none;
    color: black;
}
